# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

client/node_modules
client/build/asset-manifest.json
client/build/crown-192x192.png
client/build/crown-512x512.png
client/build/crown.svg
client/build/favicon.ico
client/build/index.html
client/build/manifest.json
client/build/precache-manifest.0fa8bfda15264a0af3396cb39af6988d.js
client/build/robots.txt
client/build/service-worker.js
client/build/static/css/main.5ecd60fb.chunk.css
client/build/static/css/main.5ecd60fb.chunk.css.map
client/build/static/js/2.3bd25544.chunk.js
client/build/static/js/2.3bd25544.chunk.js.LICENSE.txt
client/build/static/js/2.3bd25544.chunk.js.map
client/build/static/js/3.6774d730.chunk.js
client/build/static/js/3.6774d730.chunk.js.map
client/build/static/js/4.858e5067.chunk.js
client/build/static/js/4.858e5067.chunk.js.map
client/build/static/js/5.05c93396.chunk.js
client/build/static/js/5.05c93396.chunk.js.map
client/build/static/js/6.d3adcf81.chunk.js
client/build/static/js/6.d3adcf81.chunk.js.map
client/build/static/js/7.cbf29328.chunk.js
client/build/static/js/7.cbf29328.chunk.js.map
client/build/static/js/8.531f7b62.chunk.js
client/build/static/js/8.531f7b62.chunk.js.map
client/build/static/js/9.1ae80807.chunk.js
client/build/static/js/9.1ae80807.chunk.js.LICENSE.txt
client/build/static/js/9.1ae80807.chunk.js.map
client/build/static/js/main.c1e48e36.chunk.js
client/build/static/js/main.c1e48e36.chunk.js.LICENSE.txt
client/build/static/js/main.c1e48e36.chunk.js.map
client/build/static/js/runtime-main.fac1647b.js
client/build/static/js/runtime-main.fac1647b.js.map
client/build/static/media/broken-clock.0f086a81.png
client/build/static/media/crown.ed28accb.svg
client/build/static/media/moon.45812d20.svg
client/build/static/media/shopping-bag.09e6f5e7.svg
client/build/static/media/sun.e1c57220.svg
